@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root {
  --background-color: #141617;
  --text-color: #b4dcf0;
  --card-background: #b4dcf0;
  --card-text: #1a1a1a;
  --color-default: #2093f5;
  --color-ok: #4CAF50;
  --color-warning: #FF9800;
  --color-danger: #F44336;
}

body {
  background-color: var(--background-color);
  color: #f7fcff; 
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #f7fcff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.box {
  background-color: var(--card-background);
  color: var(--card-text);
  border: 5px #164e8a;
  border-radius: 40px;
  padding: 2rem;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.box.status-ok { border-color: var(--color-ok); }
.box.status-warning { border-color: var(--color-warning); }
.box.status-danger { border-color: var(--color-danger); }

.box-id {
  font-size: 3em;
  margin-bottom: 1rem;
}

.box-name {
  color: #1d618a;
  font-size: 2em;
  margin: 0.2rem 0;
}

.box-date {
  font-size: 1.5em;
  margin-top: 0.5rem;
}

/* Style pour les séparateurs de section */
.section-divider {
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px 0;
  padding: 10px;
  color: #f7fcff;
  background-color: #1d618a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 2px;
}
